@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@100..700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Oswald";
 }
.card {
  width: 340px;
  background-color: #0f172a;
  border-radius: 15px;
  /* border: 1px solid; */
  color: white;
  font-size: 14px;
}
.img img{
  width: 100%;
  /* border-radius: 15px; */
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.product-description{
  padding: 15px 10px;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
.product-description .title{
  font-weight: 600;
  font-size: 18px;
}
.product-description .price{
  color: #22c55e;
}
.product-description button{
  padding: 10px;
  /* width: ; */
  border-radius: 12px;
  background: #243146;
  border: none;
  color: white;
  font-size: 16px;
}
.reviews{
  background: #020617;
  max-height: 0;
  overflow: hidden; 
}

